<div class="programBody" class="tilePage">
    <h2>Clued-Up 1&sdot;01</h2><br /><br />

    <p>For second year module <em>SEPR</em>, we are required to form a software engineering team and plan, build, test and document a murder mystery-style game based around one of the buildings in the University Of York.</p>

    <p>I acted as lead developer and programmed most of the game, designed all of the graphics, models & sounds, and wrote the website <a href="http://www.wedunnit.me">wedunnit.me</a></p>

    <div class="downloadLinks">
        <a class="gameDownload" href="https://drive.google.com/open?id=0B_EqNPy9-bW0QUY4ZlBGclUteG8">
            <img src="images/zip-win.png" />
            <p>Download for Windows <br /> Version: 1.01 <br />Size: 262MB</p>
        </a>
        <a class="gameDownload" href="https://drive.google.com/open?id=0B_EqNPy9-bW0QWJJWmoyTjVzTlk">
            <img src="images/zip-mac.png" /> 
            <p>Download for Mac <br /> Version: 1.01 <br />Size: 265MB</p>
        </a>
        <a class="gameDownload" href="https://drive.google.com/open?id=0BxsYkY4mkZmVbDR2YnBocFRtb2c">
            <img src="images/zip-linux.png" /> 
            <p>Download for Linux<br /> Version: 1.01 (untested)<br />Size: 275MB</p>
        </a>   
    </div>

    <a href="http://wedunnit.me"><img src="images/cluedup-1.png" alt="Screenshot from Clued-up V1.01" class="screenshot" /> </a>     

    <a href="/tiles/programs">
        <div id="returnButton">
            <img src="images/back-arrow.png" />
            <h3>Return to programs</h3>
        </div>
    </a>
</div>