<div id="portfolioContainer" class="tilePage">
        
    <h2>Portfolio</h2><br />

    <div class="portfolioItem">
        <h3>PJS Music</h3><br />
        <div class="browser">
            <div class="browserTop">
                <a href="https://www.pjsmusic.com" target="_blank"><p class="urlBar"><span>https</span>://www.pjsmusic.com</p></a>
            </div>
            <img src="images/pjsmusic1.png" alt="The website I designed for PJS Music" class="browserImg" />
        </div>
        <div class="browserDesc">
            <p>I installed the website and modified the main website layout on the Opencart ecommerce system, creating all the graphics that are visible including the logo. I currently manage the shop website and update periodically with ways to increase online sales. This includes finding products, SEO or design changes.</p>
            <p class="anchorP"><a href="https://www.pjsmusic.com" target="_blank">See the website</a></p>
            <!--<img src="images/pjsmusic2.jpg" alt="The bannors I designed for PJS Music" />
            <img src="images/pjsmusic3.jpg" alt="The business cards I designed for PJS Music" />-->
            <p>My work is also instore, and alongside helping customers I run our live chat support system. My work has also led to three large bannors being produced, as well as thousands of business and discount cards. I also upgraded the till system to use a database linked POS interface and installed a receipt printer to print my own custom receipts.</p>
        </div>
    </div>
    <a name="pagelinkXSound"></a>
    <div class="portfolioItem">
        <h3>Xtreme Sound Systems</h3><br />
        <div class="browser">
            <div class="browserTop">
                <a href="http://www.xsound.co.uk" target="_blank"><p class="urlBar">www.xsound.co.uk</p></a>
            </div>
            <img src="images/xsound1.jpg" alt="The website I designed for xtreme sound systems" class="browserImg" />
        </div>
        <div class="browserDesc">
            <p>I also designed the website for PA Hire company Xtreme Sound Systems. Please take a look below. The website is mobile friendly, and features a simple form and animations.</p>
            <p class="anchorP"><a href="http://www.xsound.co.uk" target="_blank">See the website</a></p>
        </div>
    </div>


    <a name="pagelinkWedunnit"></a>
    <div class="portfolioItem">
        <h3>Wedunnit Software Engineering Group</h3><br />
        <div class="browser">
            <div class="browserTop">
                <a href="http://www.wedunnit.me" target="_blank"><p class="urlBar">www.wedunnit.me</p></a>
            </div>
            <img src="images/wedunnit1.jpg" alt="The website I designed for wedunnit incorporated" class="browserImg" />
        </div>
        <div class="browserDesc">
            <p>I made this website for a software engineering team I am involved with as part of university. It is used to host documentation and executable games for four stages of the module, and has a mysterious theme.</p>
            <p class="anchorP"><a href="http://www.wedunnit.me" target="_blank">See the website</a></p>
        </div>
    </div>
</div>