<div class="tilePage">
    <h2>Production</h2><br />

    <h3>Video Production</h3><br />
    <h4>Seventh Son</h4><br />
    <p>Rock band <a href="http://www.seventh-son.co.uk">Seventh Son</a>) asked me to produce a music video for their single <i>"Living On A Time Bomb"</i> and <i>"See Emily Play"</i>.</p>

    <iframe width="720" height="405" src="https://www.youtube.com/embed/bHwDMCyQIQA" frameborder="0" allowfullscreen></iframe><br /><br />
    <iframe width="720" height="405" src="https://www.youtube.com/embed/tuYzzhOOdBg" frameborder="0" allowfullscreen></iframe><br /><br />

    <h3>Audio Production</h3><br />
    <h4>URY (University Radio York)</h4>
    <p>I am currently Assistant Chief Engineer for University Radio York, which has had me lead outside broadcasts and artist sessions.</p><br /><br />

    <h4>Xtreme Sound Systems</h4>
    <p>For a number of years I have worked with Xtreme Sound Systems to provide sound/ lighting hire, for events such as the Tour De France and LIVE in Barnsley.</p>

</div>