<div class="tilePage">
    <h2>Programs</h2><br /><br />
    <p>This is where I host all the little projects and code I've have made. Sort of like a blog. But worse. Please bear in mind that these are mostly works in progress and are not cleaned in any way.</p>

    <div id="programListDiv">
        <a href="#">
            <h4 style="color:#666">COMING SOON MAL 9000.</h4>
            <p>Voice controlled HAL9000.</p>
        </a>

        <a href="/portfolio/hashcode17">
            <h4>Google Hashcode 2017 Entry</h4>
            <p>My team's code for Hashcode 2017 (ranked second for the York hub)</p>
        </a>

        <a href="http://wedunnit.me/">
            <h4>Homicide In The Hub 4&sdot;01</h4>
            <p>Another game made during my second year studying Computer Science.</p>
        </a>

        <a href="/portfolio/cluedup">
            <h4>Clued-Up 1&sdot;01</h4>
            <p>A game made during my second year studying Computer Science.</p>
        </a>

        <a href="#">
            <h4 style="color:#666">COMING SOON Raspberry Pi Realtime Visualiser</h4>
            <p>Python script that lights an array of LEDs depending on signal of audio in through the Pi's GPIO.</p>
        </a>
    </div>
</div>