<div class="tilePage">
    <h2>Qualifications</h2><br />

    <h3>University Of York 2015 - 2019</h3><br />
    <p>First Year - First Class Honours</p>
    <p>Second Year - First Class Honours</p>

    <br />
    <br />

    <h3>Barnsley College 2013 - 2015</h3><br />
    <p>Computing A2 - A*</p>
    <p>Maths A2 - A</p>
    <p>Chemistry A2 - A</p>
    <p>Geography AS - B</p>

    <br />
    <br />

    <h3>Ecclesfield School 2008 - 2013</h3><br />
    <p>Astronomy – C</p>
    <p>Biology – A*</p>
    <p>Chemistry – A</p>
    <p>Electronics – A*</p>
    <p>English Lit – A</p>
    <p>English Lang – A</p>
    <p>French – A</p>
    <p>Further Maths - B</p>
    <p>Geography – A*</p>
    <p>ICT – A</p>
    <p>Maths – A*</p>
    <p>Physics – A</p>
    <p>Psychology – C</p>
    <p>RE – A</p>
    <p>Statistics – A</p>        
</div>