@charset "UTF-8";
/* CSS Document */




/*------------------------------------ALL IN MAIN SECTION------------------------------------*/

#introBlock{
	height:200px;
}

#socialHead{
	width:300px;
	height:200px;
	margin-top:10px;
}

#pageContainer{
	height:800px;
}

#meOnPiccadilly{
	height:320px;
	width:470px;
	position:absolute;
	top: 400px;
}

#socialList{
	width:400px;
	height:370px;
	overflow:auto;
	position:absolute;
	left: 500px;
	top: 380px;
}

#socialList li{
	list-style:none;
	margin-bottom:10px;
}

#socialList li p{
	margin-top:-10px;
}

h4{
	color:#333333;
}

#socialList img{
	width:25px;
	height:25px;
	margin-right:20px;
	position:relative;
	top:5px;
}

#socialList h4 a{
	text-decoration:none;
}
/*------------------------------------END OF MAIN SECTION------------------------------------*/






/*------------END OF PAGE. THIS WEBSITE IS (C) COPYRIGHT TOBY FOX 2008-2012. HANDCODED SINCE 2012. ------------*/
